{% extends 'base.html' %}
{% load static %}
{% block title %}
index page
{% endblock %}

{% block content %}
<div class="container-fluid CF1" style="background-image:url({% static 'img/banner2.jpg' %})">
  <div class="row">
    <div class="col-md-5 col1">
      <h1>SEARCH YOUR FAVORITE COURSE HERE</h1>
      <h6>TOP NOTCH COURSES FROM TRAINED PROFESSIONALS</h6>
      <a href="{% url 'index' %}" class="btn btn-warning">Read More</a>
    </div>
    <div class="col-md-7 col2">
    <img src="{% static 'img/img2.png' %}" class="card-img" alt="...">
    </div>
  </div>
</div>
<div class="card-header">

</div>
<div class="container ctr1">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">

          <h2><strong class="yellow"> About Our Game<hr></strong></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a href="#" class="btn btn-warning">Read More</a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <figure>
            <img src="{% static 'img/make_img.jpg' %}">
          </figure>
        </div>
      </div>
    </div>
</div>
{% endblock %}