
/** create student page **/
.ctr1
{
margin-left: 400px;
margin-top: 50px;
padding-left: 100px;
padding-right: 100px;
padding-top: 50px;
display: relative;
border: 2px solid rgba(96, 245, 22,25);
background: #e0c71f;
width: 1000px;}


.ctr2
{
margin:50px;
padding:20px;
background: white;}

.inputbox{
 height:100px;
 width:150px;}

#address{
padding-bottom:400px;}

 .button-container {
    padding-top:50px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .button-container button {
    flex: 1;
    margin-right: 10px;
  }


 /** success page **/

.ctr3
{
margin:300px;
padding: 100px;
font-size: 1.25em;
font-weight: 50px;
}

.card
{
margin:20px;}